<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Flask Tutorial</title>
    <style>
      * {
        box-sizing: border-box;
      }

      .row {
        display: flex;
      }

      /* Create three equal columns that sits next to each other */
      .column {
        flex: 33.33%;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="column">
        <img
          src="https://www.petmd.com/sites/default/files/what-does-it-mean-when-cat-wags-tail.jpg"
          style="width:100%"
        />
      </div>
      <div class="column">
        <img
          src="https://www.petmd.com/sites/default/files/what-does-it-mean-when-cat-wags-tail.jpg"
          style="width:100%"
        />
      </div>
      <div class="column">
        <img
          src="https://www.petmd.com/sites/default/files/what-does-it-mean-when-cat-wags-tail.jpg"
          style="width:100%"
        />
      </div>
    </div>

    <div class="row">
         <div class="column">
           <img
             src="https://www.evanscolorado.gov/sites/default/files/styles/gallery500/public/imageattachments/codeenforcement/page/6322/prairie_dog.jpg?itok=tIfS1_Qu"
             style="width:100%"
           />
         </div>
         <div class="column">
           <img
             src="http://r.ddmcdn.com/s_f/DSC/uploads/2014/07/north-america-prairie-dog-625x450.jpg"
             style="width:100%"
           />
         </div>
         <div class="column">
           <img
             src="https://www.evanscolorado.gov/sites/default/files/styles/gallery500/public/imageattachments/codeenforcement/page/6322/prairie_dog.jpg?itok=tIfS1_Qu"
             style="width:100%"
           />
         </div>
       </div>
  </body>
</html>
